<!DOCTYPE html>
<html>
<head>
  <title>Poker Card Dealer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
    <div id='poker'>
<div class='row'>
<div class='span12 page-header'>
<h1><FONT COLOR="blue"> Poker Cards by Richard</FONT></h1>

<p><a href="http://localhost:3000/poker">Refresh Button</a></p>

<h2><%=@cards.sample(1)%></h2>
<h2><%=@cards.sample(1)%></h2>
<h2><%=@cards.sample(1)%></h2>
<h2><%=@cards.sample(1)%></h2>
<h2><%=@cards.sample(1)%></h2>

</body>
</html>
